*{
	box-sizing: border-box;
}

body{

	color: black;;
  	font-family: 'Oxygen', sans-serif;
}
h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 6vw;
	text-transform: capitalize;
}
/*.navbar{
	background-color: pink;
	height: 100px;
}
*/
.navbar-brand{
	float: left;
}

#header-nav{
	padding:0;
}

#navbarTogglerDemo02{
	background-color: white;
	text-align: center;
	color: black;
}

#menu-item{
	border-bottom: 1px solid black;
	font-family: Impact, Charcoal, sans-serif;
}

#main-content .jumbotron{
	margin-top: 0px;
}

#main-content .jumbotron .container-fluid .row{
	background-color: gray;
	padding: 20px;
}

h2,h3{

	margin-bottom: 30px;
}
h2{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 4vw;
 
}

h3{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:3vw;
}

.jumbotron{
	padding: 20px;
	background-color: pink;

}

.text{

	font-size: 2vw;
	font-family: Tahoma, Geneva, sans-serif;
}